#contenedor{
	width: 920px;
	min-height:1000px;
	margin: 0 auto;
}
#cabecera{
	width: 920px;
	height: 80px;
	background: rgba(0, 0, 0, 0.4);
	float: left;
	clear: both;
}
#logo1{
	width: 200px;
	height: 90px;
	float: left;
}
#menu{
	width: 720px;
	height: 70px;
	float: left;
}
ul.horizontal{
	margin:0 auto;
	padding:0;
}
ul.horizontal li{
	display:block;
	float: left;
	padding:0 10px;
}
ul.horizontal li a{
	color: white;
	display: block;
	padding: 32px;
	text-decoration: none;
}
ul.horizontal li.active a{
	color: #FFFFFF;
}
#menu ul li.active {
	background: rgba(255, 0, 0, 0.6);
 }
#contenido1{
	width: 920px;
	height: 511px;
	background-color: #000000;
	float: left;
	clear: both;
}
#c-slider {
  margin: auto;
  width: 100%;
  max-width: 920px;
  position: relative;
  overflow: hidden;
}

#slider {
  display: flex;
  width: 400%;
}

#slider__section {
  width: 100%;
}

#slider__img {
  display: block;
  width: 100%;
  height: 100%;
}

#btn-prev, #btn-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.btn-prev:hover, .btn-next:hover {
  background: black;
}
#btn-prev {
	left: 0px;
}

#btn-next {
  right: 0px;
}
#contenido2{
	width: 920px;
	height: 624px;
	background: rgba(37, 37, 37, 0.6);
	float:left;
	clear:both;
}
#contenido2_1{
	width: 920px;
	height: 20px;
	float: left;
}
#contenido2_2{
	width: 920px;
	height: 384px;
	float:left;
}
#contenido2_2_1{
	width: 10px;
	height: 384px;
	float:left;
}
#contenido2_2_2{
	width: 506px;
	height: 384px;
	float:left;
}
#contenido2_2_3{
	width: 10px;
	height: 384px;
	float:left;
}
#contenido2_2_4{
	width: 384px;
	height: 384px;
	float:left;
}
#contenido2_2_5{
	width: 10px;
	height: 384px;
	float:left;
}
#contenido2_3{
	width: 920px;
	height: 20px;
	float: left;
}
#contenido2_4{
	width: 920px;
	height: 200px;
	float: left;
}
#contenido2_4_1{
	width: 10px;
	height: 200px;
	float: left;
}
#contenido2_4_2{
	width: 900px;
	height: 200px;
	float: left;
}
#contenido2_4_2_1{
	width: 900px;
	height: 100px;
	float: left;
}
#contenido2_4_2_2{
	width: 900px;
	height: 100px;
	float: left;
}
#contenido2_4_3{
	width: 10px;
	height: 200px;
	float: left;
}
#contenido3{
	width: 920px;
	height: 511px;
	float:left;
	clear:both;
}
#contenido4{
	width: 920px;
	height: 2000px;
	background: rgba(37, 37, 37, 0.6);
	float:left;
	clear:both;
}
#contenido4_1{
	width: 920px;
	height: 20px;
	float:left;
}
#contenido4_2{
	width: 20px;
	height: 1980px;
	float:left;
}
#contenido4_3{
	width: 880px;
	height: 1980px;
	float:left;
}
#contenido4_4{
	width: 20px;
	height: 1980px;
	float:left;
}
#contenido5{
	width: 920px;
	height: 773px;
	background: rgba(37, 37, 37, 0.6);
	float:left;
	clear:both;
}
#login{
	width: 700px;
	height: 600px;

	margin: 80px auto;

}
#login #boton{
	margin-left: 160px;
}
#contenido6{
	width: 920px;
	height: 773px;
	background: rgba(37, 37, 37, 0.6);
	float:left;
	clear:both;
}
#registro{
	width: 700px;
	height: 600px;
	margin: 80px auto;
}
#registro #boton{
	margin-left: 160px;
}
form {
    /* Sólo para centrar el formulario a la página */
    margin: 0 auto;
    width: 400px;
}
form div + div {
    margin-top: 1em;
}
label {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;

    /* Para darle el mismo tamaño a todos los campos de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: #000;
}
textarea {
    /* Para alinear campos de texto multilínea con sus labels */
    vertical-align: top;

    /* Para dar suficiente espacio para escribir texto */
    height: 5em;

    /* Para permitir a los usuarios cambiar el tamaño de cualquier textarea verticalmente
        No funciona en todos los navegadores */
    resize: vertical;
}
.button {
    /* Para posicionar los botones a la misma posición que los campos de texto */
    padding-left: 90px; /* mismo tamaño a todos los elementos label */
}
button {
    /* Este margen extra representa aproximadamente el mismo espacio que el espacio
       entre los labels y sus campos de texto */
    margin-left: .5em;
}
#pie{
	width: 920px;
	height: 125px;
	background: rgba(255, 0, 0, 0.6);
	float: left;
	clear:both;
}
#pie2{
	width: 920px;
	height: 100px;
	float: left;
}
#pie2_1{
	width: 10px;
	height: 100px;
	float: left;
}
#pie2_2{
	width: 900px;
	height: 100px;
	float: left;
}
#pie2_2_1{
	width: 900px;
	height: 50px;
	float: left;
}
#pie2_2_2{
	width: 900px;
	height: 50px;
	float: left;
}
#pie2_3{
	width: 10px;
	height: 100px;
	float: left;
}
#pie3{
	width: 920px;
	height: 25px;
	float: left;
}
#stage0{
	width: 920px;
	height: 511px;
	background: rgba(37, 37, 37, 0.6);
	float: left;
	clear: both;
}
#stage0_0{
	width:920px;
	min-height: 1000px;
	float: left;
	clear: both;
}
#stage0_1{
	width: 230px;
	min-height: 1000px;
	background: rgba(255, 255, 255, 0.6);
	float: left;
}
#stage0_2{
	width: 920px;
	min-height: 1000px;
	background: rgba(37, 37, 37, 0.6);
	float: left;
}
#stage0_2_1{
	width: 920px;
	height: 10px;
	float: left;
}
#stage0_2_2{
	width: 10px;
	min-height: 990px;
	float: left;
}
#stage0_2_3{
	width: 900px;
	min-height: 990px;
	float: left;
}
#stage0_2_3_1{
	width: 900px;
	height: 400px;
	float: left;
}
#stage0_2_3_2{
	width: 900px;
	min-height: 590px;
	float: left;
}
#stage0_2_4{
	width: 10px;
	min-height: 990px;
	float: left;
}
#menu2{
	width: 230px;
	min-height: 1000px;
	float: left;
}
ul.vertical{
	margin:0 auto;
	padding:0;
}
ul.vertical li{
	display: block;
	float: left;

}
ul.vertical li a{
	color: black;
	display: block;
	padding: 38px;
	text-decoration: none;
	float: left;
}
ul.vertical li.active a{
	color: #FF0000;
}
 #perfil{
	background: rgba(37, 37, 37, 0.6);
 	width: 920px;
 	height: 1000px;
 	float: left;
 	clear: both;
}
#perfil_1{
 	width: 920px;
 	height: 10px;
 	float: left;
}
#perfil_2{
 	width: 10px;
 	height: 990px;
 	float: left;
}
#perfil_3{
 	width: 900px;
 	height: 990px;
 	float: left;
}
#perfil_3_1{
 	width: 900px;
 	height: 350px;
 	float: left;
}
#perfil_3_2{
 	width: 900px;
 	height: 640px;
 	float: left;
}
#login2{
	width: 700px;
	height: 500px;
	margin: 40px auto;

}
#foto{
	margin-left: 150px;
	margin-top: 10px;
}
#perfil_4{
 	width: 10px;
 	height: 990px;
 	float: left;
}
#foro{
	background: rgba(37, 37, 37, 0.6);
 	width: 920px;
 	height: 1000px;
 	float: left;
 	clear: both;
}
#foro1{
	width: 920px;
 	height: 10px;
 	float: left;
}
#foro2{
	width: 10px;
 	height: 990px;
 	float: left;
}
#foro3{
	 width: 900px;
 	height: 990px;
 	float: left;
}
#foro4{
	width: 10px;
 	height: 990px;
 	float: left;
}
#foros{
	width: 920px;
	min-height:460px;
	background:rgba(37, 37, 37, 0.6);
	float: left;
	clear: both;
}
#foros_1{
	width: 920px;
	height: 20px;
	float: left;
}
#comentario{
	width: 400px;
	margin-left: 100px;
	min-height:200px;
}
#comentario #publicacion{
	width: 540px;
	height:50px;
	margin-left: 50px;
}
#comentario #boton_publica{
	
	margin-left: 290px;
}
#opinion{
	margin-left: 60px;
}
#comentarios{
	width: 540px;
	height:150px;
	margin-left: 50px;
}

#temas{
	width: 690px;
	min-height: 1000px;
	background: rgba(37, 37, 37, 0.6);
	float: left;
}
#temas1{
	width: 690px;
	height: 20px;
	float: left;
}
#temas2{
	width: 20px;
	min-height: 980px;
	float: left;
}
#temas3{
	width: 650px;
	min-height: 980px;
	float: left;
}
#temas4{
	width: 20px;
	min-height: 980px;
	float: left;
}
#comments{
	width: 650px;
	min-height:460px;
	float: left;
	clear: both;
}
#comments_1{
	width: 400px;
	margin-left: 100px;
	min-height:200px;
}
#comments_1 #publicacion{
	width: 450px;
	height:50px;
}
#comments_1 #boton_publica{
	
	margin-left: 150px;
}
#comments_2{
	width: 540px;
	height:150px;
}
